<html>
    <head>
        <title>Twitch Emotion Recognition</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
            <div style="text-align: center; margin-top: 25%">
                <h2>Twitch Emotion Recognition</h2>
                <form class="form-horizontal" action="/application", method="post", role="form" style="width: 100%">
                    Paste your Twitch channel link here:
                    <input size="50" placeholder="Example: https://www.twitch.tv/channel-name" type="url" name="twitchLink" required>
                    <button class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
