<html>

    <head>
        <title>Twitch Emotion Recognition</title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

    </head>

    <body>
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3 col-xs-12" id="affDetection"></div>
            </div>


        </div>

        <script src="https://download.affectiva.com/js/3.2/affdex.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/affectDetection.js"></script>
    </body>
</html>
