<html>
    <head>
        <title>Twitch Emotion Recognition</title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/resultStyle.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-12" id="result-time"></div>
                <div class="col-md-6 col-xs-12" id="aff-graph"></div>
            </div>
        </div>

        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/googleGraphs.js"></script>
        <script src="/js/graphGeneration.js"></script>
        <script>
            //console.log(<%= data %>);
            //var data = JSON.parse(<%= data %>);
        </script>
    </body>
</html>
